.dot {
	flex-shrink: 0;
	border-radius: 9999px;
}

.sm {
	width: 10px;
	height: 10px;
}

.md {
	width: 12px;
	height: 12px;
}

.green {
	background-color: var(--semantic-color-brand-primary);
}

.yellow {
	background-color: var(--color-warm-400);
}

.red {
	background-color: var(--color-red-500);
}

.gray {
	background-color: var(--color-steel-400);
}

.pulse {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}
